pyyaml
IPython
accelerate
beartype
bitsandbytes
debugpy
decord
deepspeed
einops
ffmpeg-python
fsspec
huggingface-hub
imageio-ffmpeg
imageio
kornia
moviepy
numpy
omegaconf
open_clip_torch
openai
opencv-python
peft
pillow
pytorch-lightning
safetensors
scipy
sentencepiece
wandb
datasets
spaces
gradio
pandas
matplotlib
av
tensorboard
transformers==4.44.2
diffusers==0.31.0
